.avatar-modal
  img.avatar-img
    margin-bottom: 15px
    cursor: pointer
    width: 150px

.avatar-uploader
  display: flex
  justify-content: center

  .ant-upload, .upload-img
    width: 180px
    height: 180px