section.filter-questions
  display: flex
  justify-content: space-between
  padding: 10px 0 10px 0
 
  .filter-params
    label.ant-radio-button-wrapper
      border: 1px solid #262626

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)
      background-color: #262626
      border-color: #262626

      &::before
        background-color: #262626

  .select-categories

    .ant-select-selector
      width: 250px
      border: 1px solid #262626
      color: #262626