section.filter-questions
  display: flex
  justify-content: space-between
  padding: 10px 0 10px 0
 
  .filter-params
    label.ant-radio-button-wrapper
      border: 1px solid #262626

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)
      background-color: #262626
      border-color: #262626

      &::before
        background-color: #262626

  .select-categories
    border: 1px solid #262626

    .ant-select-selector
      border: none
      width: 220px
      color: #262626

    button.search-questions
      background-color: #262626
      border: none