header
  display: flex
  align-items: center
  justify-content: space-between
  background-color: #262626 //#141414
  color: #ffffff
  padding: 5px

  h2.title
    margin: 0

    a
      color: #ffffff

  nav
    button
      width: 78px
      background-color: #262626 
      color: #ffffff
      margin-left: 10px