section.questions-list
  ul
    padding: 0
    margin: 0

    li
      list-style-type: none
      margin-bottom: 15px

  .question
    padding: 5px 5px 5px 10px
    box-shadow: 5px 5px 12px 1px rgba(166, 166, 171, 1)
    border-radius: 10px

    i, time
      font-size: 12px