.router-lazy-spin
  width: 100vw
  height: 80vh
  display: flex
  justify-content: center
  align-items: center

.status-alert
  margin-bottom: 10px

  button
    border: 1px solid #262626
    color: #262626
    margin-top: 5px