aside.settings-sidebar
  padding-right: 15px

  nav.sidebar-links
    display: flex
    flex-direction: column
    border-radius: 5px
    background-color: #262626
    padding: 5px 5px 10px 5px

    a
      padding: 8px 10px
      font-size: 18px
      color: #ffffff
      width: 150px

      &:hover
        color: #1890ff

      &.active
        color: #1890ff

section.settings
  width: 100%
  padding-left: 15px

  h1.title
    font-size: 24px

  hr
    border-color: #434343

  .info
    font-size: 16px
    margin-bottom: 10px

  span.status
    margin-left: 5px

  form
    b
      font-size: 16px

    a.link
      margin-left: 20px

  button
    border: 1px solid #262626
    color: #262626