@import '../../styles/_variables.sass'
@import '../../styles/_templates.sass'

aside.settings-sidebar
  padding-right: 15px

  nav.sidebar-links
    display: flex
    flex-direction: column
    border-radius: 5px
    background-color: $dark
    padding: 5px 5px 10px 5px

    a
      padding: 8px 10px
      font-size: 18px
      color: $white
      width: 150px

      &:hover
        color: $blue

      &.active
        color: $blue

section.settings
  width: 100%
  padding-left: 15px

  h1.title
    font-size: 24px

  hr
    border-color: $grey

  .info
    font-size: 16px
    margin-bottom: 10px

  span.status
    margin-left: 5px

  form
    b
      font-size: 16px

    a.link
      margin-left: 20px

  button
    color: $dark
    @extend %main-border

@media only screen and (max-width: 425px)
  aside.settings-sidebar
    padding: 0
    margin-bottom: 10px