section.answers-list
  padding: 10px 0 0 5px

  h2.title
    margin: 0

  hr
    border-color: #434343
    margin: 0
    width: 78vw

  ul.answers-list
    padding: 0
    margin: 10px 0 0 0

    li
      list-style-type: none
      margin-bottom: 15px

  ul.confirm
    padding-bottom: 10px

    li
      .answer
        width: 78vw

  .answer
    width: 70vw
    padding: 5px 5px 5px 10px
    border-radius: 10px
    border: 1px solid #262626
    display: flex
    color: #434343

    .answer-block
      margin-left: 10px
      width: 100%

      span
        word-break: break-all

      .info-block
        padding-bottom: 8px

        h3
          margin: 0

    .rating
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      margin-right: 10px

      .amount
        width: 50px
        text-align: center
        border: 1px solid #262626
        margin-bottom: 5px
        border-radius: 5px

      button
        padding: 2px
        border: 1px solid #262626
        color: #262626
        border-radius: 5px

    .answer-settings
      display: flex
      align-items: center
      cursor: pointer
      margin-right: 10px

      svg
        width: 30px
        height: 30px

    .is-answer-icon
      display: flex
      align-items: center
      margin-right: 10px

      svg
        width: 40px
        height: 40px

section.new-answer
  button
    background-color: #262626
    color: #ffffff
    border: 1px solid #262626